force-app/main/default/flows/Generate_Rehearsals-3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Build_Rehearsal_Record</name>
        <label>Build Rehearsal Record</label>
        <locationX>383</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Concert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjConcertRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRehearsalDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRehearsalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcRehearsalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjRehearsalRec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRehearsalCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_Another_Rehearsal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>First_Rehearsal_Date</name>
        <label>First Rehearsal Date</label>
        <locationX>199</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>varRehearsalDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjConcertRec.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRehearsalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcNumberOfRehearsals</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRehearsalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Concert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjConcertRec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsalRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calcFirstRehearsalDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjRehearsals</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjRehearsalRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Define_Another_Rehearsal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Define_Another_Rehearsal</name>
        <label>Define Another Rehearsal?</label>
        <locationX>384</locationX>
        <locationY>32</locationY>
        <defaultConnector>
            <targetReference>Create_Rehearsals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRehearsalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Rehearsal_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcFirstRehearsalDate</name>
        <dataType>String</dataType>
        <expression>TEXT({!sobjConcertRec.StartDate})</expression>
    </formulas>
    <formulas>
        <name>calcNumberOfRehearsals</name>
        <dataType>Number</dataType>
        <expression>({!sobjConcertRec.EndDate} - {!sobjConcertRec.StartDate}) / 7</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>calcRehearsalName</name>
        <dataType>String</dataType>
        <expression>TEXT({!sobjRehearsalRec.Date__c} + 7)</expression>
    </formulas>
    <interviewLabel>Generate Rehearsals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Rehearsals</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rehearsals</name>
        <label>Create Rehearsals</label>
        <locationX>600</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>sobjRehearsals</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Concert_Info</name>
        <label>Get Concert Info</label>
        <locationX>30</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>First_Rehearsal_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>sobjConcertRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>606</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN="LEFT"&gt;&lt;FONT FACE="Arial" STYLE="font-size:14px" COLOR="#000000" LETTERSPACING="0" KERNING="0"&gt;&lt;B&gt;Error message:&lt;/B&gt; {!$Flow.FaultMessage}&lt;FONT STYLE="font-size:12px"&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN="LEFT"&gt;&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0"&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN="LEFT"&gt;&lt;FONT FACE="Arial" STYLE="font-size:12px" COLOR="#000000" LETTERSPACING="0" KERNING="0"&gt;Please contact your System Administrator.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rehearsals</name>
        <label>Rehearsals</label>
        <locationX>30</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Concert_Info</targetReference>
        </connector>
        <fields>
            <name>DisplayID</name>
            <fieldText>for Concert recordID {!RecordId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success!</label>
        <locationX>781</locationX>
        <locationY>27</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>Rehearsal records generated.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Rehearsals</startElementReference>
    <variables>
        <description>Concert record ID from detail page</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobjConcertRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>sobjRehearsalRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Rehearsal__c</objectType>
    </variables>
    <variables>
        <name>sobjRehearsals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Rehearsal__c</objectType>
    </variables>
    <variables>
        <name>varConcertID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRehearsalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRehearsalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of calculated Rehearsal Dates</description>
        <name>varRehearsalDates</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
